<p-panel header="Pipes personalizados" class="p-1">
  <p>
    Pipes personalizados - creados por
    {{ "nosotros" | toggleCase : isUpperCase }}
  </p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button
      label="ToggleCase"
      icon="pi pi-search"
      (onClick)="toggleUpperCase()"
    />
  </div>

  <div class="p-toolbar-group-end">
    <p-button
      class="mr-2"
      (onClick)="changeOrder('name')"
      label="Por nombre"
      icon="pi pi-sort"
      styleClass="p-button-success"
    />
    <p-button
      class="mr-2"
      (onClick)="changeOrder('canFly')"
      label="Por volar"
      icon="pi pi-sort"
      styleClass="p-button-danger"
    />
    <p-button
      class="mr-2"
      (onClick)="changeOrder('color')"
      label="Por color"
      icon="pi pi-sort"
      styleClass="p-button-danger"
    />
  </div>
</p-toolbar>

<div class="grid">
  <div class="col mt-2">
    <p-panel header="Heroes">
      <p-table
        [value]="heroes | sortBy : orderBy"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Vuela</th>
            <th>Color</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.canFly | canFly | titlecase }}</td>
            <td>{{ product.color }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
